* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* El "*" engloba a todo el documento, esos parametros son los necesarios para el reset */
    padding: 0;
    box-sizing: border-box; }

body {
    background-color: #1f2124;
    overflow-x: hidden;
}

p {
    margin: 0;
}

/*INICIO HEADER*/

.header__nav {
    padding: 0.25rem 20rem;
    background-color: #0c181c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__nav__title {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: bold;
}  

.header__nav__title:hover {
    color: white;
}

.header__nav__links {
    padding-left: 18rem;
}

.header__nav__links__item a {
    color: white;
    margin: 0.75rem 2rem 0.75rem 0;
    font-weight: 500;
    font-size: 1.05rem;
    text-decoration: none;
}

.header__nav__links__item a:hover {
    color: goldenrod;
    font-weight: 200;
    transition: 0.25s;
}

.header__nav__links__btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
    transition: 0.4s;
    border-radius: 0.25rem;
}

.header__nav__links__btn:hover {
    background: goldenrod;
    box-shadow: 0 0 10px goldenrod, 0 0 40px goldenrod, 0 0 80px goldenrod;
    transition-delay: 1s;
}

.header__nav__links__btn span {
    position: absolute;
    display: block;
}

.span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,goldenrod);
}

.header__nav__links__btn:hover .span1 {
    left: 100%;
    transition: 1s;
}

.span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,goldenrod);
}

.header__nav__links__btn:hover .span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,goldenrod);
}

.header__nav__links__btn:hover .span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,goldenrod);
}

.header__nav__links__btn:hover .span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.header__nav__links__cart {
    color: #fff;
    padding-top: 5px;
}

.btn-group {
    margin-left: 2rem;
}

.btn-group__cart {
    border-color: rgba(12,24,28,0.95)!important;
}

.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:active {
    color: #fff!important;
}

.product-item {
    display: flex;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4rem;
    padding-right: 1rem;
}

.product-title {
    margin: 0;
}

.delete-button {
    margin-top: 0.5rem;
    background-color: #0c181c;
    color: white;
    border: none;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.delete-button:hover{
    background: #a81120;
    box-shadow: 0 0 10px #a81120, 0 0 40px #a81120, 0 0 80px #a81120;
    transition-delay: 1s;
    transition: .5s;
}

.dropdown-menu img {
    width: 6rem;
    padding: 0.2rem 0 0.2rem 1rem;
}

.dropdown-menu p{
    padding-left: 0.5rem; 
}

/*FIN HEADER*/

/*INICIO MAIN*/

.main__hero {
    background-image: url(../img/fondo-hero.jfif);
    object-fit: cover;
}

.main__hero__contenedor {
    background-color: rgba(12,24,28,0.95);
    margin: 0 20rem;
}

.main__hero__contenedor h1 {
    text-align: center;
    padding: 1rem 0;
    font-size: 2.4rem;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}

.main__hero__contenedor__texto p {
    color: white;
    font-weight: 200;
    font-size: 1.1rem;
    padding: 0 6rem;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1rem!important;
}

.main__hero__contenedor__texto {
    padding-bottom: 0.2rem;
}

.main__hero__contenedor__carrusel {
    margin-left: 25rem;
    width: 30rem;
}

.main__hero__contenedor__carrusel__item {
    margin-left: 5.4rem;
}

.main__hero__contenedor__carrusel__item img {
    -webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.main__books h2 {
    color: white;
    margin-top: .5rem;
    margin-left: 21rem;
    font-size: 1.5rem;
}

.main__books__fila img {
    width: 12rem;
    -webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.main__books__fila img:hover {
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.45s reverse both;
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.45s reverse both;
}

.main__books__fila p {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    padding-top: 0.5rem;
}

.main__books__btn {
    color: #fff;
    background-color: rgb(216, 72, 47);
    margin-top: 0.5rem;
}

.main__books__btn:hover {
    color: #fff;
    background-color: rgb(170, 40, 16);
}

.main__books__btn:active {
    color: #fff!important;
    background-color: rgb(153, 32, 10)!important;
    border-color: goldenrod!important;
}

.main__log{
    position: relative;
    background-size: cover;
    height: 94vh;
    width: 100%;
}

.main__log__form {
    overflow-y: hidden;
    position: absolute;
    bottom: 0%;
    right: 2rem;
    height: 100%;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}
  
  .main__log__form h2 {
    margin-top: 0;
    padding: 1.5rem 0;
}
  
  .main__log__form form {
    display: flex;
    flex-direction: column;
}
  
  .main__log__form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 10px;
}  
  
  .main__log__form input, .main__log__form textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 80%;
}

  .main__log__form label.checkbox input[type="checkbox"] {
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
    width: auto;
}
  
  .main__log__form input[type="submit"], .main__log__form button {
    background-color: rgb(214, 183, 9);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    width: 35%;
    margin-top: 1rem;
    letter-spacing: .5px;
}
  
  .main__log__form input[type="submit"]:hover, .main__log__form button:hover {
    transition: .5s;
    background-color: rgb(0, 0, 0);
}

  .main__log__form__ton {
    padding-left: 1.4rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

  .main__log__form__ton img {
    width: 95%;
    border-radius: .75rem;
    border-style: ridge;
    border-color: gold;
}
  

/*FONTS*/

@font-face {
    font-family: antorian;
    src: url(../img/Antorian-l4KV.ttf);
}

/*ANIMACIONES*/

/*Box Shadow*/
@-webkit-keyframes shadow-drop-br {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-br {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }

  /*Slide-forward*/
  @-webkit-keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(160px);
              transform: translateZ(160px);
    }
  }

/*Fade-In*/
@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  