* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* El "*" engloba a todo el documento, esos parametros son los necesarios para el reset */
    padding: 0;
    box-sizing: border-box; }

body {
    background-color: #1f2124;
}

.header__nav {
    padding: 0.25rem 20rem;
    background-color: #0c181c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__nav__title {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: bold;
}  

.header__nav__title:hover {
    color: white;
}

.header__nav__links {
    padding-left: 18rem;
}

.header__nav__links__item a {
    color: white;
    margin: 0 0.75rem;
    font-weight: 500;
    font-size: 1.05rem;
    text-decoration: none;
}

.header__nav__links__item a:hover {
    color: goldenrod;
    font-weight: 200;
    transition: 0.5s;
}

.header__nav__links__btn {
    position: relative;
    display: inline-block;
    padding: 10px 40px;
    color: white;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
    transition: 0.4s;
    border-radius: 0.25rem;
}

.header__nav__links__btn {
    color: white;
}

.header__nav__links__btn:hover {
    background: goldenrod;
    box-shadow: 0 0 10px goldenrod, 0 0 40px goldenrod, 0 0 80px goldenrod;
    transition-delay: 1s;
}

.header__nav__links__btn span {
    position: absolute;
    display: block;
}

.span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,goldenrod);
}

.header__nav__links__btn:hover .span1 {
    left: 100%;
    transition: 1s;
}

.span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,goldenrod);
}

.header__nav__links__btn:hover .span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,goldenrod);
}

.header__nav__links__btn:hover .span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,goldenrod);
}

.header__nav__links__btn:hover .span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/*FIN HEADER*/

/*INICIO MAIN*/

.main__hero {
    background-image: url(../img/fondo-hero.jfif);
    background-attachment: fixed;
    object-fit: cover;
}

.main__hero__contenedor {
    background-color: rgba(12,24,28,0.95);
    margin: 0 20rem;
}

.main__hero__contenedor h1 {
    text-align: center;
    padding: 1rem 0;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}

.main__hero__contenedor__texto p {
    color: white;
    font-weight: 200;
    font-size: 1.25rem;
    padding: 0 6rem;
    text-align: center;
    letter-spacing: 1px;
}

.main__hero__contenedor__texto {
    padding-bottom: 0.2rem;
}

.main__hero__contenedor__carrusel {
    margin-left: 25rem;
    width: 30rem;
}

.main__hero__carrusel__contenedor__item {
    margin-left: 5.4rem;
}

.main__hero__carrusel__contenedor__item img {
    -webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



/*ANIMACIONES*/

@-webkit-keyframes shadow-drop-br {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-br {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }