*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;    /* El "*" engloba a todo el documento, esos parametros son los necesarios para el reset */
    padding: 0;
    box-sizing: border-box;
}
